.case-content{
    min-height: 400px;
    height: auto;
    border-radius: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.small-header{
    letter-spacing: 1px;
}