<div class="jumbotron case-content p-0" [style.backgroundImage]="backgroundImage" [style.backgroundColor]="backgroundColor">
  <div class="container-fluid p-0">
    <div class="row align-items-center" [ngClass]="{
      'text-white': theme === 'light',
      'text-dark': theme === 'dark'
    }">
      <div class="col-12 col-md-6 py-5" [ngClass]="{
        'order-12 px-10': direction === 'rtl', 
        'order-1 px-10': direction === 'ltr',
        'd-none': !(title && title.length),
        'mx-md-auto': '!(items && items.length)'
      }" [style.textAlign]="textStyle">
        <h6 class="mb-2" [style.color]="color" [ngClass]="{'px-4': direction === 'rtl'}">{{pretitle}}</h6>
        <h2 [ngClass]="{'px-4': direction === 'rtl'}">{{title}}</h2>
        <div [innerHTML]="content" [ngClass]="{'pr-4': direction === 'ltr', 'px-4': direction === 'rtl'}"></div>
        <div class="row no-gutters">
          <div class="col-4 col-md-3" *ngFor="let member of team">
            <sc-person-thumb [id]="member"></sc-person-thumb>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 py-md-5" [ngClass]="{
        'order-12': direction === 'ltr', 
        'order-1': direction === 'rtl',
        'd-none': !(items && items.length)
      }">
        <div *ngIf="items && items.length">
          <gallery [id]="id" [items]="items" [style.height.px]="500" [counter]="false" [dots]="showDots"></gallery>
        </div>
      </div>
    </div>
  </div>
</div>