/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:300|Oswald');

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Oswald', sans-serif;

$headings-font-weight: 900;

$grid-gutter-width: 45px;

@import
    '~bootstrap/scss/bootstrap';
    // '~@ngx-gallery/core/styles/gallery',
    // '~@ngx-gallery/core/styles/lightbox';

html,body{
    overflow-x: hidden;
}

.px-10{
    padding-right: 4rem;
    padding-left: 4rem;
}

gallery{
    background-color: transparent !important;
}

.bigger-font{
    font-size: 1.05rem;
    line-height: 1.7 !important;
}